 section{
    margin-left: 250px; 
    padding: 30px;
    font-family: Arial, sans-serif;
    display: grid;
    max-width: 800px;
    margin: 20px auto;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        background: #ffffff;
}
h3{
    font-size: 22px;
    margin-bottom: 5px;
    color: #2c3e50;
}
hr{
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

form {
    border-radius: 10px;
    margin-top: 10px;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
}

form textarea {
    height: 40px;
    resize: none;
}

form button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

form button:hover {
    background: #0056b3;
}

.back  {
    background-color: #444;
     
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    font-size: 15px;
    text-decoration: none;
    margin-right: 5px;
}

.back :hover {
    color: #000;
    
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}